{% extends "main/base.html" %}

{% block title %}My Account{% endblock %}
{% block sitename %}My Account{% endblock %}

{% block content %}
{% if not has_profile %}

<div class="header-bar">
    <h1>Account</h1>
</div>

<div class="card-body">
    <form method="post" action="/account" class="form-group">
        {% csrf_token %} <!--prevents hacking for authenticated users, required for all forms-->
        <div class="form-attrs">
            <label>{{form.cc_number.label}}</label>
            {{form.cc_number}}
        </div>

        <div class="form-attrs">
            <label>{{form.cc_expiry.label}}</label>
            <br>
            {{form.cc_expiry}}
        </div>

        <div class="form-attrs">
            <label>{{form.cc_code.label}}</label>
            <br>
            {{form.cc_code}}
        </div>
        <button type="submit" class="button">Register</button>
    </form>
</div>
{% else %}
    <p>You are an existing user, you will not be able to create an account!</p>
{% endif %}
{% endblock %}