{% extends "main/base.html" %}

{% block title %}My Balance{% endblock %}
{% block sitename %}My Balance{% endblock %}

{% block content %}
<p>Balance: {{balance}}</p>
<form method="post" action="#" class="form-group">
        {% csrf_token %} <!--prevents hacking for authenticated users, required for all forms-->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button type="submit" name="save" class="btn btn-success">Deposit</button>
            </div>
            {{form}}
        </div>

         <!--normally you have tons of fields for each piece of data,
        this form variable eliminates all of that -->

    </form>
{% endblock %}