{% extends "main/not_authenticated.html" %}

{% block title %}Cart{% endblock %}
{% block sitename %}Cart{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/cart.css' %}">

<table>
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
    {% for item_name, info in item_info.items %}
        <tr>
            <td>{{ item_name }}</td>
            {% for val in info %}
                <td>{{ val }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    <tr>
        <td>Total</td>
        <td>{{ total_cost }}</td>
        <td>{{ total_quantity }}</td>
    </tr>
</table>
<br>
<a class="btn btn-primary" name="back" href="/inventory">Back</a>
<a class="btn btn-primary" name="checkout" href="/checkout/{{ order.id }}">Checkout</a>
{% endblock %}