{% extends "main/not_authenticated.html" %}

{% block title %}Cart{% endblock %}
{% block sitename %}<h1 class="mt-2">My Cart</h1>{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/cart.css' %}">
<p>Item info: {{ item_info }}</p>
{% for item, quantity in item_info %}
    {{ item.name }} {{ quantity }}
{% endfor %}
<table>
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>

    {% for item, quantity in item_info %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>{{ quantity }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td>Total</td>
        <td>{{ total_cost }}</td>
        <td>{{ total_quantity }}</td>
    </tr>
</table>
{% endblock %}