{% extends "main/not_authenticated.html" %}

{% block title %}Cart{% endblock %}
{% block sitename %}<h1 class="mt-2">My Cart</h1>{% endblock %}

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>
{% block content %}
<table>
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
    {% for item in cart_items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>1</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}