{% extends "main/base.html" %}

{% block title %}Create Store{% endblock %}



{% block content %}

<div class="header-bar">
    <h1>Create Store</h1>
</div>

<div class="card-body">
	<form method="post" class="form-group" action="#">
		{% csrf_token %}
		<div class="form-attrs">
            <label>{{form.category.label}}</label>
            {{form.category}}
        </div>

		<div class="form-attrs">
            <label>{{form.description.label}}</label>
            {{form.description}}
        </div>
		
		
		<div class="form-attrs">
            <label>{{form.name.label}}</label>
			<br>
            {{form.name}}
        </div>
        <br>
		<button type="submit" class="button">Submit</button>
		</form>
</div>

{% endblock content %}