{% extends "main/base.html" %}
{% block title %}Home{% endblock %}
{% block sitename %}Home{% endblock %}

{% block content %}
<h1>This is your home page, welcome {{ user.get_username }}</h1>

<p>Create store <a href="/create_store">here</a></p>

<h2>Your Stores</h2>

{% for store in stores %}
    <!--Put it around a div-->
    <p>Store: <a href="/store/{{ user.get_username  }}/{{ store.id }}">{{ store.name }}</a></p>
    <p>Category: {{ store.category }}</p>
    <p>Description: {{ store.description }}</p>
    <p>Revenue: {{ store.revenue }}</p>
{% endfor %}
{% endblock %}