{% extends "main/base.html" %}

{% block title %}Inventory{% endblock %}
{% block sitename %}Inventory{% endblock %}

{% block content %}
    <form method="post" action="/cart">
        {% csrf_token %}
        {% for item in items %}
             <p>Item: {{item.name}}</p>
             <p>Description: {{item.description}}</p>
             <p>Price: {{item.price}}</p>
             <p>Seller: {{item.seller}}</p>
             <input type="checkbox" id="{{item.name}}" name="{{item.name}}" value="{{item.name}}">
            <label for="{{item.name}}_quantity">Quantity </label>
            <input type="number" id="{{item.name}}_quantity" name="{{item.name}}_quantity" value="0">
            <br>
            <label for="{{item.name}}">Buy {{item.name}}</label><br>
        {% endfor %}
        <button type="submit" name="submit" value="cart" class="btn btn-success">Add To Cart</button>
    </form>
{% endblock %}