{% extends "main/base.html" %}
{% block title %}{{ store.name }}{% endblock %}
<head>
    <!--
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static '/main/css/store.css' %}">-->
</head>
{% block content %} 
<div class="center_name">
    <h1>{{ store.name }}</h1>
    <h3>Owner: {{ store.owner }}</h3>
</div>
<!--
<div class="row">
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static '/main/images/placeholder.png' %}">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>

            <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

        </div>
    </div>
    
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static '/main/images/placeholder.png' %}">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            
            <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
            
        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static '/main/images/placeholder.png' %}">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>

            <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static '/main/images/placeholder.png' %}">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>

            <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

        </div>
    </div>
    
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static '/main/images/placeholder.png' %}">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            
            <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
            
        </div>
    </div>
</div>
-->
    

    <!--

        <div class="row">
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'main/images/placeholder.png' %}">
        <div class="box-element product">
         <p>Nikhil</p>
        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'main/images/placeholder.png' %}">
        <div class="box-element product">
         <p>loves</p>
        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'main/images/placeholder.png' %}">
        <div class="box-element product">
         <p>Tepig</p>
        </div>
    </div>
</div>
-->

   <!-- Original Store with all products in a line -->
   
    <!--<h1>{{ store.name }}</h1>-->
    <h3><a href="/create/{{ store.name }}">Add Item</a></h3>
    <br>
    <br>
    <form method="post" action="/cart/{{ store.name }}">
        {% csrf_token %}
    <!-- Do all full rows -->
    <div class="row">
        {% for item in store_items %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{ item.image_url }}">
            <div class="box-element product">
                <h6><strong>{{ item.name }}</strong></h6>
                <hr>
                <label><strong>Select: </strong></label><sp></sp><input type="checkbox" id="item"  name="item_{{forloop.counter}}" value="{{item.name}}">
                <label>Quantity: </label><input type="number" min="0" max="2147483647 " step="1" value="0" id="quantity" name="item_{{forloop.counter}}_quantity">
                <h4 style="display: inline-block; float: right"><strong>{{ item.price }}</strong></h4>
                <hr>
                <p style="font-size:12px;">{{ item.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
    <button type="submit" class="button">Add to Cart</button>
</form>

{% endblock %}