{% extends "main/base.html" %}
{% block title %}{{ store.name }}{% endblock %}
<head>
    <!--

<link rel="stylesheet" type="text/css" href="{% static 'main/css/store.css' %}">
    -->
</head>
{% block content %} 

<h1>This is the store</h1>

    <!--

        <div class="row">
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'main/images/placeholder.png' %}">
        <div class="box-element product">
         <p>Nikhil</p>
        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'main/images/placeholder.png' %}">
        <div class="box-element product">
         <p>loves</p>
        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'main/images/placeholder.png' %}">
        <div class="box-element product">
         <p>Tepig</p>
        </div>
    </div>
</div>
-->

   <!-- Original Store with all products in a line -->
    <h1>{{ store.name }}</h1>
    <h2>Products</h2>
    <h3>Owner: {{ store.owner }}</h3>
    <h3><a href="/create/{{ store.name }}">Add Item</a></h3>
    <br>
    <br>
    <form method="post" action="/cart/{{ store.name }}">
        {% csrf_token %}
    {% for item in store_items %}
        <p>Item: <a href="{{ item.image_url }}">{{ item.name }}</a></p>
        <p>Image URL: {{ item.image_url }}</p>
        <img src="{{ item.image_url }}" style="width:500px;height:600px;">
        <p>Category: {{ item.category }}</p>
        <p style="font-size:10px;">Description: {{ item.description }}</p>
        <p>Price: {{ item.price }}</p>
        <label>Quantity: </label><input type="number" min="0" max="2147483647 " step="1" value="0" id="quantity" name="item_{{forloop.counter}}_quantity">
        <br>
        <input type="checkbox" id="item" name="item_{{forloop.counter}}" value="{{item.name}}">
    {% endfor %}
    <br>
    <button type="submit" class="button">Add to Cart</button>
</form>
{% endblock %}