{% extends 'main/base.html' %}

{% block title %}Register{% endblock %}

<h1>{% block sitename %}Register{% endblock %}</h1>

{% block content %}

<div class="header-bar">
    <h1>Register</h1>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <div class="form-attrs">
            <label>{{form.username.label}}</label>
            {{form.username}}
        </div>

        <div class="form-attrs">
            <label>{{form.email.label}}</label>
            <br>
            {{form.email}}
        </div>

        <div class="form-attrs">
            <label>{{form.password1.label}}</label>
            {{form.password1}}
        </div>

        <div class="form-attrs">
            <label>{{form.password2.label}}</label>
            {{form.password2}}
        </div>
        <br>
        <button type="submit" class="button">Register</button>
    </form>
</div>
{% endblock content %}